@model IEnumerable<NHPhuc_QuanLyBanHang.Models.User>

@{
    ViewBag.Title = "Quản Lý Người Dùng";
}

<!-- Navbar -->

<div class="container mt-4">
    <h2>Danh Sách Người Dùng</h2>

    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.password)</th>
                <th>@Html.DisplayNameFor(model => model.phone)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>@Html.DisplayNameFor(model => model.hoten)</th>
                <th>@Html.DisplayNameFor(model => model.gioitinh)</th>
                <th>@Html.DisplayNameFor(model => model.diachi)</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.password)</td>
                    <td>@Html.DisplayFor(modelItem => item.phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.hoten)</td>
                    <td>@Html.DisplayFor(modelItem => item.gioitinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.diachi)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.username }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.username }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.username }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>