@model IEnumerable<NHPhuc_QuanLyBanHang.Models.QTV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>

        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.username }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.username }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.username }, new { @class = "btn btn-danger" })
            </td>

        </tr>
    }

</table>